/*CSS variables*/

:root {
    --primary-color: #2F5BB6;
    --secondary-color: #fdf954;
    --bg-white: white;
    --bg-grey: #f2f5fa;
    --text-color: #000000;
    --brand-font: "Bebas Neue";

}

body {
    background-color: var(--bg-white); 
    /* had to include this as a weird 8px margin seems to be applied by default by browsers */
    margin: 0 auto;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

hr {
    margin: 0 0 24px 0;
    width:80px;
    align: left;
    border-width:4px;
    border-style:solid;
    color: var(--secondary-color);
    text-align: left;
}

h1{
font-family: var(--brand-font);
font-weight: 500;
font-size: 80px;
color:var(--primary-color);
/* negative letter spacing for tighter kerning at bigger font sizes*/
letter-spacing: -1px;
margin: 0 16px 8px 0;
}

h2{
font-family: var(--brand-font);
font-size: 64px;
font-weight: 500;
color:var(--text-color);
}

h3 {
    font-size: 32px;
    margin-bottom: 16px;   
}

p {
    font-size: 24px;
    max-width: 470px;
}

/*  */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-white);
}

a {
    color: var(--primary-color);
}

a:hover {
    font-weight: bold;
}

/* Using flexbox for the header keeps the logo in line with the nav links*/
/* Becky McG logo image on left of header */
#logo {
    width: 160px;
    /* commented out below when using logo2 instead of logo */
    /* height: 104px;*/
    padding: 16px;
}

#logo:hover {
    scale: 1.10;
    transform: rotate(-20deg);
}

/* Links for the nav */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 16px 16px;
    padding: 8px;
    gap: 16px 24px;
    list-style: none;
    justify-content: space-around;
}

.nav-list li a {
    flex: 0 1 200px ;
    color:var(--text-color);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.nav-list li a:hover {
    color: var(--primary-color);
    border-bottom: 4px solid #2F5BB6;
}

.nav-list li a:active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-bottom: 4px solid var(--primary-color);
}

/* links & hover states */
a:hover {
    color: var(--primary-color);
}

a:active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* Icon hover & active states*/
i:hover {
    scale: 1.10;
}

i:active {
    scale: 0.95;
}

/* Hero image for the intro section */
#hero{
    background: linear-gradient(to left, transparent, var(--primary-color) ), url(images/about.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-position-y: 25%;
    background-size: cover;
    padding: 24px;
    margin-bottom: 32px;

    /* This is so unbelievably hacky! Shrinking down viewport shifts the h2 off screen to the left*/
    /* Was having so many problems with the h2 extending the page width to the right and couldn't figure out how to fix it! */
    display:flex;
    flex-flow: column wrap-reverse;
    justify-content: space-between;
}

/* could really do with using media queries to hide and adjust sizes for different screen widths */
#hero h1 {
    color:var(--secondary-color);
    position:absolute;
    top: 500px;
    right: 30%;
    font-size: 10rem;
    letter-spacing: -1px;
    line-height:8rem;
    margin-bottom:16px;
    flex-wrap: 1 0 200px;
    padding: 16px 16px;
}

#hero h2 {
    flex-wrap: 1 0 0;
    color: var(--bg-white);
    padding: 0 16px;
    height: max-content;
    position: relative;
    margin-top: 24px;
    font-size: 3rem;
}

#about {
    padding: 16px 42px;
}

.profile {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content:space-between;
}

#about img{
    border-radius: 200px;
    max-width: 400px;
    max-height: 400px;
    border: 8px solid var(--secondary-color);
    margin-bottom: 40px;
}

#work, #contact{
    padding: 16px 42px;
    margin-bottom: 40px;
}

#disciplines, #message {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 24px;
}

article {
    flex: 0 0 400px;
    padding: 16px;
    background-color: var(--bg-grey);
    text-align: center;
}

article:hover {
    scale: 1.05;
}

article:active{
    scale: 0.95;
    background-color: var(--primary-color);
}

article h2:hover{
    text-decoration: underline;
}

article h2:active{
    color: var(--bg-white);
}

article a{
    text-decoration: none;
}



#clients {
    padding: 16px 42px;
    margin-bottom: 40px;
}

#testimonials {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#testimonials li {
    flex: 1 1 360px;
    padding: 16px 16px;
    list-style: none;
}

#testimonials p {
    font-size: 24px;
    font-style:italic;
    font-weight: 300;
}

.credit {
    color: var(--primary-color);
    font-style: normal;
    font-size: 16px;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-weight: 500;
}

footer {
    border-bottom: 8px solid var(--secondary-color);
    padding: 24px;
    text-align: center;s
    font-size: 20px;
    color:var(--primary-color);
    background-color: var(--bg-grey);
}



